header{
    align-items: center;
    text-align: center;
}
body{
    background-image: url("images/bricks_background.png");
    background-repeat: repeat;
    background-position: right top;
    background-attachment: scroll;
    font-family: calibri;
}
main{
    background-color: #120523;
    border-width: 120px;
    border: thick double #e695de;
    border-radius: 5% 5% 5% 5%;
    margin: auto;
    width: 70%;
    padding: 15px;	
}
nav{
    text-align: center;
    font-style: bold;
    size: 15;
    color: rgb(229, 157, 246);
	background-color: rgb(48, 16, 103);  
    text-align: justify;
}
img{
    block-size: auto;
}
form{
    color: #ffffff    
}


/* texts */
h1{
	text-align: center;
    font-style: bold;
    size: 15;
    color: rgb(229, 157, 246);
	background-color: rgb(48, 16, 103);  
    text-align: justify;
}
p{
    text-align: left;
    font-style: normal;
    color: white;
}
a{
    color:rgb(148, 176, 218);
    font-style: underline;
}
a:hover{
    color:rgb(255, 110, 250);
    font-style: bold;
    text-align: justify;
}

/* object */
img{
    border-radius: 1%;
    display: block;
    margin: auto;
    border: thick rgb(255, 255, 255);
}
a img{
    border: double thick rgb(255, 255, 255);
}
a img.hover{
    border: thick double rgb(51, 0, 92); 
}

/* class */
img.in_body{
    width: 60%;
    border: double thick #1d2b53;
    border-radius: 15px;
    box-shadow: 0px 3px 12px rgb(0, 0, 0);
}