body{
	background-image: url("images/bricks_background.png");
	background-repeat: repeat;
	background-position: right top;
	background-attachment: scroll;
	font-family: calibri;
}
header{
    display: flex;
    text-align: center;
    background-color: #15002A;
    border-width: 0;
	align-items: stretch;
	justify-content: center;
	text-align: center;
}
main{
    background-color: #120523;
    border-width: 120px;
    border: thick double #e695de;
    border-radius: 5% 5% 5% 5%;
    margin: auto;
    width: 70%;
    padding: 15px;	
}
nav a{
    text-align: center;
align-items: stretch;
    justify-content: center;
    font-style: bold;
    size: 155;
    color: rgb(229, 157, 246);
    background-color: rgb(48, 16, 103); 
	justify-content: center;
	margin: auto;
	border-block-end-color: blue;
	border-block-left-color: red;
	border-block-right-color: red;
	border-block-start-color: white;
	writing-mode: horizontal-tb;
	item-align: streached;
}
img{
    block-size: auto;
}
form{
    color: #ffffff    
}


/* texts */
h1{
	text-align: center;
    font-style: bold;
    size: 15;
    color: rgb(229, 157, 246);
	background-color: rgb(48, 16, 103);  
    text-align: justify;
}
p{
    text-align: left;
    font-style: normal;
    color: white;
}
a{
    color:rgb(148, 176, 218);
    font-style: underline;
	size: 15;
}
a:hover{
    color:rgb(255, 110, 250);
    font-style: bold;
    text-align: justify;
	size: 16;
}

/* object */
main img{
    display: block;
    margin: auto;
    border: thick rgb(255, 255, 255);
    width: 60%;
    border: double thick #1d2b53;
    border-radius: 15px;
    box-shadow: 0px 3px 12px rgb(0, 0, 0);
    justify-content: center;
}
main a img{
    border: double thick rgb(255, 255, 255);
}

/* class */
img.title{
	item-align: center;
	margin: auto;
}
